<!-- banner start -->
<!-- ================ -->
<script type="text/javascript">
var __lc = {};
__lc.license = 6378741;

(function() {
	var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
	lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>

<div class="banner">
   <div class="fixed-image section light-translucent-bg" style="background-image:url('images/page-about-banner-2.jpg');">
      <div class="container">
         <div class="space-top"></div>
         <h1>Introduction</h1>
         <div class="separator-2"></div>
         <p class="lead">A multi-channel listing platform that helps you list your items for sale in various social websites and e-marketplaces with a single click of a button. <br class="hidden-xs hidden-sm"> Inventory is managed in cloud with seamless real time updates to and from the sites you sell on. Thus you will never have to worry about managing your stock across multiple sites.</p>
      </div>
   </div>
</div>
<!-- banner end -->
<!-- page-intro start-->
<!-- ================ -->
<div class="page-intro">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <ol class="breadcrumb">
               <li><i class="fa fa-home pr-10"></i><a href="index.html">Home</a></li>
               <li class="active">About Us</li>
            </ol>
         </div>
      </div>
   </div>
</div>
<!-- page-intro end -->
<!-- main-container start -->
<!-- ================ -->
<section class="main-container">
   <div class="container">
      <div class="row">
         <!-- main start -->
         <!-- ================ -->
         <div class="main col-md-12">
            <!-- page-title start -->
            <!-- ================ -->
            <h1 class="page-title">What we do</h1>
            <div class="separator-2"></div>
            <!-- page-title end -->
            <div class="row">
               <div class="col-md-8">
                  <p>We build cloud based platforms to assist merchants in accelerating their business by selling on multiple social sites and e-marketplaces. This saves you a lot of time and energy, helping you to focus on other important things in your life.</p>
                  <h3>A multi-channel selling platform</h3>
                  <p>You can use our product to sell on eBay, Facebook, Amazon, Flipkart, Etsy and Shopify. And our product comes with a free shopping website to be exlusively owned by you.</p>
                  <a class="btn btn-lg btn-default" href="#Pricing" onclick="javascript:document.getElementById('mPricing').click();"><i class="fa fa-sign-in pr-10"></i> Sign Up</a>
               </div>
               <!-- sidebar start -->
               <aside class="sidebar col-md-4">
                  <div class="side vertical-divider-left">
                     <h3 class="title">Charity</h3>
                     <div class="separator"></div>
                     <blockquote class="margin-clear">
                        <p>Two percent of our profit goes for charity.</p>
                        <footer><cite title="Source Title">Team SELLinALL </cite></footer>
                     </blockquote>
                  </div>
               </aside>
               <!-- sidebar end -->
            </div>
            <hr>
         </div>
         <!-- main end -->
      </div>
   </div>
</section>
<!-- main-container end -->
<!-- section start -->
<!-- ================ -->
<section class="main-container">
   <div class="container">
      <h2 class="title">Why Choose Us</h2>
      <div class="separator-2"></div>
      <p class="lead">We offer you a world class experience that certainly delight you. <br> A robust platform that you can truly rely on.</p>
      <br>
      <div class="row">
         <div class="col-md-6">
            <div class="panel-group" id="accordion-1">
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-1" href="#collapseOne-1">
                        <i class="fa fa-cloud"></i>Cloud based
                        </a>
                     </h4>
                  </div>
                  <div id="collapseOne-1" class="panel-collapse collapse in">
                     <div class="panel-body">
                        Our cloud based platform guarantees you 99% site availability throughout the year. This also means that you can check your inventory status on the go from anywhere.
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-1" href="#collapseTwo-1" class="collapsed">
                        <i class="fa fa-leaf"></i>Intuitive user experience
                        </a>
                     </h4>
                  </div>
                  <div id="collapseTwo-1" class="panel-collapse collapse">
                     <div class="panel-body">
                        Our site responsive design is optimized for any device - be it a laptop or tablet or mobile. With an experience that is very intuitive, you are bound to fall in love with our product.
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-1" href="#collapseThree-1" class="collapsed">
                        <i class="fa fa-thumbs-up"></i>Quality over Quantity
                        </a>
                     </h4>
                  </div>
                  <div id="collapseThree-1" class="panel-collapse collapse">
                     <div class="panel-body">
                        We believe in quality over quantity. Check out our features to find for yourself. We take your feedback seriously to improve the quality of your product.
                     </div>
                  </div>
               </div>
               <div class="panel panel-default">
                  <div class="panel-heading">
                     <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion-1" href="#collapseFourth-1" class="collapsed">
                        <i class="fa fa-users"></i>Team you can trust
                        </a>
                     </h4>
                  </div>
                  <div id="collapseFourth-1" class="panel-collapse collapse">
                     <div class="panel-body">
                        We are a small team of professionals with each over a decade of experience in e-commerce industry, that is dedicated to make selling online an enjoyable experience.
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>

<!-- section end -->
